.base-component {
    border: 1px solid black;
    width: 1000px;
    height: 1000px;
    background-color: #292929;
    box-shadow: inset 0 0 50px 10px #1f1f1f;

    .base-container {
        position: relative;
        width: 100%;
        height: 100%;

        .base-item {
            position: absolute;
            font-size: 30px;
            transform: translate(-50%, -50%);
        }
    }
}
